extends ../base.pug

block variables
  - var template = 'home'

block content
  h1.collections_title Home
  p Welcome to the Home Page!
  img(alt="import" src="https://images.unsplash.com/photo-1682685797439-a05dd915cee9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
  img(alt="import" src="./1.png")
