doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Basic Pug Template
    link(rel='stylesheet' href=require('../styles/index.scss'))
  body
    header
      h1 Welcome to My Site
    main
      section.content
        p This is a simple page built with Pug and SCSS.
    footer
      p © #{new Date().getFullYear()} My Site
    script(src=require('@app/scripts/main.js') defer)